<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="InsertSaleSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://flightwebservice.azurewebsites.net/InsertSale.asmx"
                binding="basicHttpBinding" bindingConfiguration="InsertSaleSoap"
                contract="InsertSale.InsertSaleSoap" name="InsertSaleSoap" />
        </client>
    </system.serviceModel>
</configuration>